<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select name="service" class="form-control">
          <option value="">Vehicle_Type</option>
          <option value="car">Car</option>
          <option value="bike">Bike</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select name="service" class="form-control">
          <option value="">Status</option>
          <option value="Upcoming">Upcoming</option>
          <option value="checkin">Check-In</option>
          <option value="checkout">Check-Out</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <!-- <input type="date" class="form-control datetimepicker-input" name="todate" data-target="#reservationdate_to"
          required /> -->
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"
          placeholder="Select Date" inputId="range"></p-calendar>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="BookingId" placeholder="Booking Id" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="VehicleNumber" placeholder="Vehicle Number" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button (click)="VehicleModal_save()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let item of Booking_List; let i = index;">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <button style="width: 100%; height:40px;" class="btn btn-success"
              (click)="upcoming_change(item)">{{item.Booking_status}}</button>
            <!-- <select style="width: 100%; height:40px;" class="btn btn-success">
              <option selected>Upcoming</option>
              <option>Check In</option>
            </select> -->
            <!-- <select style="width: 100%; height:40px;" (change)=changestatus($event) class="form-group btn btn-primary">
          <option selected disabled class="hideoption" >{{item.Booking_Status}}</option>
          <option value="">Booking Confirmed</option>
          <option value="">checkIn</option>
          <option value="">CheckOut</option>
        </select> -->
          </div>
          <div class="card-body" (click)="editdetail(item)">
            <h6>Booking ID : {{item.Booking_id}}</h6>
            <p>Vehicle Type : <ng-container *ngIf="item.Vehicle_id.Vehicle_Type == '5f0c0cfc2f857d66950cf25f'">Four Wheeler</ng-container><ng-container *ngIf="item.Vehicle_id.Vehicle_Type != '5f0c0cfc2f857d66950cf25f'">Two Wheeler</ng-container></p>
            <h4>{{item.Vehicle_No}}</h4>
            <p>{{item.Customer_Phone}}</p>
            <p>Checkin Time : {{item.Checking_time | slice:10}}</p>
            <p>Checkout Time : {{item.Checkout_time | slice:10}}</p>
            <p>Check in Date :{{item.Checking_date | slice: 0 :-11}}</p>
            <p>Check out Date :{{item.Checkout_date | slice: 0 :-11}}</p>
            <p>Estimated Time : {{item.total_checking_duration}}</p>
            <p>
              <li class="icon-clock"><span>6 days ago</span></li>
            </p>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>

<p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <h3 style="text-align: center;padding-top: 40px;">Are you sure?</h3>
  <p style="text-align: center;">You Want to change the Status to </p>
  <div style="text-align: center;">
  <select style='width: 210px; height:40px; margin-top:10px ;'
    class='btn btn-success' [(ngModel)]='status' (ngModelChange)='text()'>
    <option value=undefined style="display: none;">Select</option>
    <option value='Upcoming'>Upcoming</option>
    <option value='Check In' >Check In</option>
    <!-- *ngIf="status != 'Check In'" -->
    <option value='Check Out' *ngIf="status != 'Upcoming'">Check Out</option>
  </select>
</div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="edit()" label="Yes" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
  </ng-template>
</p-dialog>