<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select name="service" class="form-control">
          <option value="">Vehicle_Type</option>
          <option value="car">Car</option>
          <option value="bike">Bike</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select name="service" class="form-control">
          <option value="">Status</option>
          <option value="Upcoming">Upcoming</option>
          <option value="checkin">Check-In</option>
          <option value="checkout">Check-Out</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <!-- <input type="date" class="form-control datetimepicker-input" name="todate" data-target="#reservationdate_to"
          required /> -->
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Select Date" inputId="range"></p-calendar>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="BookingId" placeholder="Booking Id" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="VehicleNumber" placeholder="Vehicle Number" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button (click)="VehicleModal_save()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let item of Booking_List; let i = index;">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <button style="width: 100%; height:40px;" class="btn btn-success" (click)="upcoming_change()">{{umpcomin_text}}</button>
            <!-- <select style="width: 100%; height:40px;" class="btn btn-success">
              <option selected>Upcoming</option>
              <option>Check In</option>
            </select> -->
            <!-- <select style="width: 100%; height:40px;" (change)=changestatus($event) class="form-group btn btn-primary">
          <option selected disabled class="hideoption" >{{item.Booking_Status}}</option>
          <option value="">Booking Confirmed</option>
          <option value="">checkIn</option>
          <option value="">CheckOut</option>
        </select> -->
          </div>
          <div class="card-body" (click)="upcoming()">
            <h6>Booking ID : {{item.Booking_id}}</h6>
            <p>Vehicle Type : Two Wheeler</p>
            <h4>{{item.Vehicle_No}}</h4>
            <p>{{item.Customer_Phone}}</p>
            <p>Checkin Time : 02.00 PM</p>
            <p>Checkout Time : 03.45 PM</p>
            <p>Check in Date :12 July 2020</p>
            <p>Estimated Time : 1 Hour 45m</p>
            <p>
              <li class="icon-clock"><span>6 days ago</span></li>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <button style="width: 100%; height:40px;" class="btn btn-success" (click)="checkinpage_change()" >CheckIn</button>
          <!-- <select style="width: 100%; height:40px;" class="btn btn-success" >
            <option>Upcoming</option>
            <option>Check Out</option>
            <option selected>Check In</option>
          </select> -->
        </div>
        <div class="card-body" (click)="checkinpage()">
          <h6>Booking ID : 123CVX</h6>
          <p>Vehicle Type : Two Wheeler</p>
          <h4>TN 36 X1234</h4>
          <p>9988776655</p>
          <p>Checkin Time : 02.00 PM</p>
          <p>Checkout Time : 03.45 PM</p>

          <p>Check in Date :12 July 2020</p>
          <p>Estimated Time : 1 Hour 45m</p>
          <p>
            <li class="icon-clock"><span>6 days ago</span></li>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <button style="width: 100%; height:40px;" class="btn btn-success" (click)="checkoutpage()">CheckOut</button>
          <!-- <select style="width: 100%; height:40px;" class="btn btn-success" (change)="checkoutpage()">
            <option>Upcoming</option>
            <option selected>Check Out</option>
            <option>Check In</option>
          </select> -->
        </div>
        <div class="card-body">
          <div class="watermarked">
            <h6>Booking ID : 123CVX</h6>
            <p>Vehicle Type : Two Wheeler</p>
            <h4>TN 36 X1234</h4>
            <p>9988776655</p>
            <p>Checkin Time : 02.00 PM</p>
            <p>Checkout Time : 03.45 PM</p>
            <p>Estimated Time : 1 Hour 45m</p>
            <p>Check in Date :12 July 2020</p>
            <p style="color: red;">Extended Time : 2 Hour</p>
            <p>
              <li class="icon-clock"><span>6 days ago</span></li>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <button style="width: 100%; height:40px;" class="btn btn-success" (click)="checkoutpage()">CheckOut</button>
          <!-- <select style="width: 100%; height:40px;" class="btn btn-success" (change)="checkoutpage()">
            <option>Upcoming</option>
            <option selected>Check Out</option>
            <option>Check In</option>
          </select> -->
        </div>
        <div class="card-body">
          <div class="watermarked">
            <h6 (click)="bookingacceptance(item)">Booking ID : 123CVX</h6>
            <p>Vehicle Type : Two Wheeler</p>
            <h4>TN 36 X1234</h4>
            <p>9988776655</p>
            <p>Checkin Time : 02.00 PM</p>
            <p>Checkout Time : 03.45 PM</p>
            <p>Estimated Time : 1 Hour 45m</p>
            <p>Check in Date :12 July 2020</p>
            <p>
              <li class="icon-clock"><span>6 days ago</span></li>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>