
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Check-Out</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Vehicle Model</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="VehicleModel" disabled="true" name="VehicleModel" id="text-input"
                        class="form-control" placeholder="Vehicle Model">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Customer Mobile No</label>
                    <div class="col-md-6">
                      <input type="text"  [(ngModel)]="customerMobile" disabled="true" name="Mobile" id="text-input" class="form-control"
                        placeholder="Phone">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Floor </label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="FloorName"  name="FloorName" id="text-input"
                        class="form-control" placeholder="FloorName" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Block</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="Block"  name="SubFloorName" id="text-input"
                        class="form-control" placeholder="Block Name" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Slot</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="SlotNumber"  name="SlotNumber" id="text-input"
                        class="form-control" placeholder="Slot Number" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Booking Date</label>
                    <div class="col-md-6">
                      <input type="date" placeholder="Actual Booking" disabled="true" class="form-control"
                      [ngModel] ="Booking_Date | date:'yyyy-MM-dd'" name="ActualBooking">
  
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Check In date</label>
                    <div class="col-md-6">
                      <input type="date" placeholder="Actual Booking" disabled="true" class="form-control"
                      [ngModel] ="Check_In_date | date:'yyyy-MM-dd'"  name="ActualBooking">
  
                    </div>
                  </div>
  
  
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Vehicle Manufacturer</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="VehicleManufacturer" disabled="true" name="VehicleManufacturer"
                        id="text-input" class="form-control" placeholder="Vehicle Manufacturer">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Booking Date</label>
                    <div class="col-md-6">
                      <input type="date" placeholder="Actual Booking" disabled="true" class="form-control"
                        [(ngModel)]="ActualBooking" name="ActualBooking">
  
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Actual Booking Start Time</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="ActualBookingStartTime" disabled="true"
                        name="ActualBookingStartTime" id="text-input" class="form-control"
                        placeholder="Actual Booking Start Time">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Actual Booking End Time</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="ActualBookingEndTime" disabled="true" name="ActualBookingEndTime"
                        id="text-input" class="form-control" placeholder="Actual Booking End Time">
                    </div>
                  </div> -->
  
  
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Check Out date</label>
                    <div class="col-md-6">
                      <input type="date" placeholder="Actual Booking" disabled="true" class="form-control"
                      [ngModel] ="Check_Out_date | date:'yyyy-MM-dd'" name="ActualBooking">
  
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Check In Time</label>
                    <div class="col-md-6">
                      <input type="time" [(ngModel)]="Check_In_Time" disabled="true" name="ActualBookingDuration"
                        id="text-input" class="form-control" placeholder="CheckIn Time">
                    </div>
  
                  </div>
                  <div class="form-group row">
  
                    <label class="col-md-5 col-form-label" for="text-input">Check Out Time</label>
                    <div class="col-md-6">
                      <input type="time" [(ngModel)]="Check_Out_Time" disabled="true" name="ActualBookingDuration"
                        id="text-input" class="form-control" placeholder="CheckIn Time">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label style="font-weight: 600;" class="col-md-5 col-form-label" for="text-input">Booking
                      Amount</label>
                    <div class="col-md-6">
                      <input type="text" style="font-weight: 600; background-color:yellow; color:red;" [(ngModel)]="ActualBookingAmount"
                        disabled="true" name="ActualBookingAmount" id="text-input" class="form-control"
                        placeholder="Actual Booking Amount">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label style="font-weight: 600;" class="col-md-5 col-form-label" for="text-input">Paid amount
                    </label>
                    <div class="col-md-6">
                      <input type="text" style="font-weight: 600; background-color:yellow; color:red;" [(ngModel)]="finalamount"
                        disabled="true" name="ActualBookingAmount" id="text-input" class="form-control"
                        placeholder="Actual Booking Amount">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input"> Booking Duration</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="ActualBookingDuration" disabled="true" name="ActualBookingDuration"
                        id="text-input" class="form-control" placeholder="Actual Booking Duration">
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input">Image Upload</label>
                    <div class="col-md-6">
                    <img *ngIf="Pic != undefined" src="{{Pic}}"  style="float: right;;width: 30px;height: 30px;">
                    </div>
                  </div>    -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/.row-->
    </div>
 