<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <input type="text"  [(ngModel)]="Bookingid" class="form-control" name="Bookingid" placeholder="Booking ID" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ng-datepicker [(ngModel)]="date" [options]="options" #date1></ng-datepicker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ng-datepicker [(ngModel)]="date_out" [options]="option" #date2></ng-datepicker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text"  [(ngModel)]="Vehicle_No_fil"  class="form-control" name="Vehicle_No" placeholder="Vehicle No" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <button (click)="filter()" style="margin-top: 4px;" class="btn btn-sm btn-primary"><i
                class="fa fa-search"></i>Search</button>
                <button (click)="refresh()" style="margin-top: 4px;" class="btn btn-sm btn-primary">refresh</button>
      
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title pt-4">Payments</h4>

          <div class="search-hero">
            <input class="form-control" type="text" name="search2" style="font-family:FontAwesome;"
              [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
          </div>
          <table class="table table-striped table-bordered table-sm" [svData]="paymentlist" #sv="svDataTable"
            [svRowsOnPage]="10" svSortBy="name" svSortOrder="asc">
            <thead>
              <tr>
                <th rowspan="2">S.No</th>
                <th rowspan="2">Booking ID</th>
                <th rowspan="2">Vehicle No</th>
                <th colspan="2" style="text-align: center;">Check In</th>
                <th colspan="2" style="text-align: center;">Check Out</th>
                <th rowspan="2">Total Amount Paid</th>
                <!-- <th rowspan="2">UTR</th>
              <th rowspan="2">Amount Paid Date to Vendor</th> -->
              </tr>
              <tr>

                <th>Date</th>
                <th>Time</th>
                <th>Date</th>
                <th>Time</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let item of sv.data  | filter:searchQR; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item.Booking_id}}</td>
                <td>{{item.Vehicle_id.Vehicle_No}}</td>
                <td>{{item.Checking_date}}</td>
                <td>{{item.Checking_time}}</td>
                <td>{{item.Checkout_date}}</td>
                <td>{{item.Checkout_time}}</td>
                <td>{{item.amount}}</td>
                <!-- <td>27-05-2020</td>  -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="8">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
              </tr>
            </tfoot>
          </table>


          <!-- <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th rowspan="2">S.No</th>
                <th rowspan="2">Booking ID</th>
                <th rowspan="2">Vehicle No</th>
                <th colspan="2" style="text-align: center;">Check In</th>
                <th colspan="2" style="text-align: center;">Check Out</th>
                <th rowspan="2">Total Amount Paid</th>
                <th rowspan="2">UTR</th>
                <th rowspan="2">Amount Paid Date to Vendor</th>
              </tr>
              <tr>

                <th>Date</th>
                <th>Time</th>
                <th>Date</th>
                <th>Time</th>
              </tr>

            </thead>
            <tbody>

              <tr>
                <td>2</td>
                <td>SDGJ2536J</td>
                <td>TN 36 9876</td>
                <td>{{item}}/td>
                <td>3.45PM</td>
                <td>15-07-2020 </td>
                <td>6.45PM</td>
                <td>1200</td>
                <td>0</td>
                <td>27-05-2020</td>
              </tr>
              <tr>
                <td>3</td>
                <td>SDGJ2536J</td>
                <td>TN 36 9876</td>
                <td>15-07-2020</td>
                <td>3.45PM</td>
                <td>15-07-2020 </td>
                <td>6.45PM</td>
                <td>1200</td>
                <td>0</td>
                <td>27-05-2020</td>
              </tr>
              <tr>
                <td>4</td>
                <td>SDGJ2536J</td>
                <td>TN 36 9876</td>
                <td>15-07-2020</td>
                <td>3.45PM</td>
                <td>15-07-2020 </td>
                <td>6.45PM</td>
                <td>1200</td>
                <td>0</td>
                <td>27-05-2020</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</div>