<div class="animated fadeIn">

    <div class="row">
        <!-- <div class="col-md-4">
          <div class="form-group">
            <select name="service" class="form-control">
                <option value="">Status</option>
                <option value="checkin">Block</option>
                <option value="checkout">Revoke</option>
            </select>
            </div>
        </div> -->


        <div class="col-md-3">
            <div class="form-group">
                <input  type="text" class="form-control" [(ngModel)]="Floor_val"name="Floor" placeholder="Floor" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input  type="text" class="form-control" [(ngModel)]="Block_val" name="Block" placeholder="Block" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input  type="text" class="form-control" [(ngModel)]="Slot_val" name="SlotNumber" placeholder="Slot" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button (click)="filter()" style="margin-top: 4px;" class="btn btn-sm btn-primary"><i
                        class="fa fa-search"></i>Search</button>
                        <button (click)="reset()" style="margin-top: 4px;" class="btn btn-sm btn-primary">refresh</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Bike Slot Booking</strong>
                    <button (click)="showbikeslot()" class="btn btn-sm btn-primary float-right"><ng-container *ngIf="!bikeslot">Add More</ng-container><ng-container *ngIf="bikeslot">Cancel</ng-container></button>
                </div>
                <div class="card-body">
                    <div *ngIf="bikeslot">

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Bike Slots</label>
                            <div class="col-md-6">
                                <input (keypress)=_keyPress($event)  type="text" [(ngModel)]="bikeslots" name="bikeslots" id="text-input"
                                    class="form-control" placeholder="Bike Slots">
                            </div>
                            <div class="col-md-3">
                                <button (click)="addbikeslot()" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- <label class="col-md-3 col-form-label" for="text-input"></label> -->
                            <div class="col-md-12 mt-3">
                               
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Block </th>
                                            <th>Floor</th>
                                            <th>Slot</th>
                                            <th>Delete_Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let dynamic of include_bike1; let i = index;">
                                            <td>{{i+1}}</td>
                                            <!-- <td><input  type="checkbox" name="name" [(ngModel)]="name"> </td> -->
                                            <td> <input  type="text" [(ngModel)]="dynamic.area" name="Block"
                                                    class="form-control" placeholder="Block"></td>
                                            <td> <input  type="text" [(ngModel)]="dynamic.floor" name="flooe"
                                                    class="form-control" placeholder="Floor"></td>
                                            <td><input  type="text" [(ngModel)]="dynamic.slot" name="slot"
                                                    class="form-control" placeholder="Slot Number"></td>
                                            <td> <button (click)="deletebike(i)"
                                                    class="btn btn-sm btn-primary">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="addbike()" style="float:right;" class="btn btn-sm btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">

                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Floor </th>
                                <th>Block</th>
                                <th>Slot</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let slo of bike_slot ; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{slo.floor}}</td>
                                <td>{{slo.area}}</td>
                                <td>{{slo.slot}}</td>
                                <td>
                                    <button *ngIf="slo.status == 'enable'" (click)="bikeblock(i)"
                                        class="btn btn-sm btn-primary">Block</button>
                                    <button *ngIf="slo.status == 'disable'" (click)="bikerevoke(i)"
                                        class="btn btn-sm btn-success">Revoke</button>
                                </td>

                            </tr>

                            <!-- <tr *ngFor="let dynamic5 of include_bike1; let i = index;">
                            <td>{{i+1}}</td>
                            <td> <input  type="text" [(ngModel)]="area" name="area" id="text-input" class="form-control"
                                placeholder="Area"></td>
                            <td> <input  type="text" [(ngModel)]="floor" name="flooe" id="text-input" class="form-control"
                                placeholder="Floor"></td>
                            <td><input  type="text" [(ngModel)]="slot" name="slot" id="text-input" class="form-control"
                                placeholder="Slot Number"></td>
                            <td>
                              <button (click)="deletebike(i)" class="btn btn-sm btn-primary">Block</button></td>
                          </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Car Slot Booking</strong>
                    <button (click)="showcarslot()" class="btn btn-sm btn-primary float-right"><ng-container *ngIf="!carslot">Add More</ng-container><ng-container *ngIf="carslot">Cancel</ng-container></button>
                </div>
                <div class="card-body">
                    <div *ngIf="carslot">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Car Slots</label>
                            <div class="col-md-6">
                                <input (keypress)=_keyPress($event)  type="text" [(ngModel)]="carslots" name="carslots" id="text-input"
                                    class="form-control" placeholder="Car Slots">
                            </div>
                            <div class="col-md-3">
                                <button (click)="addcarslot()" class="btn btn-primary">Create</button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- <label class="col-md-3 col-form-label" for="text-input"></label> -->
                            <div class="col-md-12 mt-3">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <!-- <th>Select</th> -->
                                            <th>Block </th>
                                            <th>Floor</th>
                                            <th>Slot</th>
                                            <!-- <th>Add_Action</th> -->
                                            <th>Delete_Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let dyna of include_bike2; let i = index;">
                                            <td>{{i+1}}</td>
                                            <!-- <td><input  type="checkbox" name="name" [(ngModel)]="name"> </td> -->
                                            <td> <input  type="text" [(ngModel)]="dyna.area" name="Block1"
                                                    class="form-control" placeholder="Block"></td>
                                            <td> <input  type="text" [(ngModel)]="dyna.floor" name="flooe1"
                                                    class="form-control" placeholder="Floor"></td>
                                            <td><input  type="text" [(ngModel)]="dyna.slot" name="slot3"
                                                    class="form-control" placeholder="Slot Number"></td>
                                        
                                           
                                            <td> <button (click)="deletcar(i)"
                                                    class="btn btn-sm btn-primary">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button (click)="addcar()" style="float:right;" class="btn btn-sm btn-primary">Add</button>

                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">

                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Floor </th>
                                <th>Block</th>
                                <th>Slot</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let slo of car_slot ; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{slo.floor}}</td>
                                <td>{{slo.area}}</td>
                                <td>{{slo.slot}}</td>
                                <td>
                                    <button *ngIf="slo.status == 'enable'" (click)="carblock(i)"
                                        class="btn btn-sm btn-primary">Block</button>
                                    <button *ngIf="slo.status == 'disable'" (click)="carrevoke(i)"
                                        class="btn btn-sm btn-success">Revoke</button>
                                </td>

                            </tr>

                            <!-- <tr *ngFor="let dynamic5 of include_bike1; let i = index;">
                            <td>{{i+1}}</td>
                            <td> <input  type="text" [(ngModel)]="area" name="area" id="text-input" class="form-control"
                                placeholder="Area"></td>
                            <td> <input  type="text" [(ngModel)]="floor" name="flooe" id="text-input" class="form-control"
                                placeholder="Floor"></td>
                            <td><input  type="text" [(ngModel)]="slot" name="slot" id="text-input" class="form-control"
                                placeholder="Slot Number"></td>
                            <td>
                              <button (click)="deletebike(i)" class="btn btn-sm btn-primary">Block</button></td>
                          </tr> -->
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>