// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.form-control {
    height: auto !important;
    padding: 10px !important;
} 
:host::ng-deep .ngx-datepicker-container .ngx-datepicker-calendar-container {
    z-index: 9;
}
:host::ng-deep  .ngx-datepicker-container .ngx-datepicker-input{
    width: 100% !important;
    padding: 10px 10px !important;
}